.item-row-layout {
    -fx-background-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: #283655;
    -fx-background-color: #fcfcfc;
    -fx-border-radius: 2px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.8), 20, 0, 0, 0);
}

.item-row-layout:hover {
    -fx-background-color: #cef5ff;
}
